@{
    ViewData["Title"] = "IndexAbout";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tool Store</title>
	<link href="~/Assets/User/About/css/bootstrap.min.css" rel="stylesheet">
	<link href="~/Assets/User/About/css/global.css" rel="stylesheet">
	<link href="~/Assets/User/About/css/about.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="~/Assets/User/About/css/font-awesome.min.css" />
	<link href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap" rel="stylesheet">
	<script src="~/Assets/User/About/js/jquery-2.1.1.min.js"></script>
	<script src="~/Assets/User/About/js/bootstrap.min.js"></script>
</head>

<body>

	<section id="about">
		<div class="container">
			<div class="row">
				<div class="about_1 clearfix">
					<div class="col-sm-6">
						<div class="about_1l clearfix">
							<h5 class="col_1 mgt">We believe in less but better</h5>
							<h3>Welcome to MedQ! The purpose of your service is to create our MedQ. So we always want to be by your side....</h3>
							<p>Our company has been working honestly for 25 years. To make a positive impact in the markets where we operate, to empower partners and the community. we focusing on growth and adding value to customers.</p>
							<p>A message from our founders</p><br>
							<blockquote><p class="mgt">We’ve been able to create a platform that customers can get their hands on whenever they want. It is always our intention to serve you.</p></blockquote>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="about_1r clearfix">
							<img src="~/Assets/User/About/img/1.png" class="iw" alt="abc">
						</div>
					</div>
				</div>
				<div class="about_2 clearfix">
					<div class="col-sm-3">
						<div class="about_2i text-center clearfix">
							<h2 class="col_1 mgt">12M</h2>
							<h5>Happy Clients</h5>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="about_2i text-center clearfix">
							<h2 class="col_1 mgt">22M</h2>
							<h5>Global Customers</h5>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="about_2i text-center clearfix">
							<h2 class="col_1 mgt">79+</h2>
							<h5>Experts Employee</h5>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="about_2i text-center clearfix">
							<h2 class="col_1 mgt">29+</h2>
							<h5>Awards Win</h5>
						</div>
					</div>
				</div>
				<div class="about_3 clearfix">
					<div class="categories_1 clearfix">
						<div class="col-sm-12">
							<h2 class="mgt">Why Choose Us</h2>
						</div>
					</div>
					<div class="about_3i clearfix clearfix">
						<div class="col-sm-4">
							<div class="about_3ii text-center clearfix">
								<span><i class="fa fa-building-o col_1"></i></span>
								<h4>High Production</h4>
								<p>High quality products are selected by us through the criteria set by customers. Diverse and rich to meet the needs of customers from the easiest to the most difficult requirements</p>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="about_3ii text-center clearfix">
								<span><i class="fa fa-chain col_1"></i></span>
								<h4>Reliable Supplying</h4>
								<p>Provide products with clear origin to ensure top quality products. We will guarantee the product warranty if the product has errors as well as errors on our part.</p>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="about_3ii text-center clearfix">
								<span><i class="fa fa-truck col_1"></i></span>
								<h4>Quick Delivery</h4>
								<p>Fast and on-time delivery that we put first for each customer. With well-known carriers, the customer will be assured that the product will be intact and in the right design</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="connect" class="clearfix">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 space_all">
					<div class="connect_1 clearfix">
						<div class="col-sm-3 connect_1m">
							<div class="connect_1l clearfix">
								<span><i class="fa fa-truck"></i></span>
							</div>
							<div class="connect_1r clearfix">
								<h4>Free Shipping</h4>
								<p>Free shipping world wide</p>
							</div>
						</div>
						<div class="col-sm-3 connect_1m">
							<div class="connect_1l clearfix">
								<span><i class="fa fa-headphones"></i></span>
							</div>
							<div class="connect_1r clearfix">
								<h4>Support 24/7</h4>
								<p>Contact us 24 hours a day</p>
							</div>
						</div>
						<div class="col-sm-3 connect_1m">
							<div class="connect_1l clearfix">
								<span><i class="fa fa-credit-card"></i></span>
							</div>
							<div class="connect_1r clearfix">
								<h4>Secure Payments</h4>
								<p>100% payment protection</p>
							</div>
						</div>
						<div class="col-sm-3 connect_1m border_none">
							<div class="connect_1l clearfix">
								<span><i class="fa fa-shopping-cart"></i></span>
							</div>
							<div class="connect_1r clearfix">
								<h4>Easy Return</h4>
								<p>Simple returns policy</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script>
		$(document).ready(function () {
			/*****Fixed Menu******/
			var secondaryNav = $('.cd-secondary-nav'),
				secondaryNavTopPosition = secondaryNav.offset().top;
			$(window).on('scroll', function () {
				if ($(window).scrollTop() > secondaryNavTopPosition) {
					secondaryNav.addClass('is-fixed');
				} else {
					secondaryNav.removeClass('is-fixed');
				}
			});

		});
	</script>

</body>

</html>