<section id="footer" class="clearfix">
	<div class="container">
		<div class="row">
			<div class="footer_1 clearfix">
				<div class="col-sm-3">
					<div class="footer_1l clearfix">
						<h1 class="mgt">
							<a style="font-size:20px" class="navbar-brand" asp-controller="Home" asp-action="Index"><i class="fa fa-wrench"></i> <span class="col_1">Auto</span> Ancilaries Limited</a>
						</h1>
						<p>Hit the road with the astounding Auto Ancilaries Limited theme, made especially for repair shops, car rental and automotive easing services.</p>
						<div class="footer_1li cleafix">
							<span class="col_1"><i class="fa fa-headphones"></i></span>
							<h5>Customer Support</h5>
							<h4>(84) 355 854 104</h4>
						</div>
					</div>
				</div>
				<div class="col-sm-5">
					<div class="footer_1m clearfix">
						<h4>Subscribe Newsletter To Get Updated</h4><br>
						<div class="header_1m clearfix">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Search">
								<span class="input-group-btn">
									<button class="btn btn-primary" type="button">
										Subscribe
									</button>
								</span>
							</div>
						</div>
						<p>We are a team of designers and developers that create high quality Magento, Prestashop, Opencart...</p>
						<ul class="social-network social-circle">
							<li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
							<li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="footer_1r clearfix">
						<h4>Information</h4>
						<ul>
							<li><a asp-action="Index" asp-controller="Home">Home</a></li>
							<li><a asp-action="IndexProduct" asp-controller="Product">Product</a></li>
							<li><a asp-action="IndexAbout" asp-controller="About">About Us</a></li>
							<li><a asp-action="IndexContact" asp-controller="Contact">Contact Us</a></li>
							
						</ul>
					</div>
				</div>
			</div>
			<div class="footer_2 text-center clearfix">
				<div class="col-sm-12">
					<p class="mgt">© 2023 Your Website Name. All Rights Reserved | Design by <a class="col_1" href="">Auto Ancilaries Limited Team</a></p>
				</div>
			</div>
		</div>
	</div>
</section>