@model IEnumerable<Client.Models.Category>;
@*@{
    Category category = ViewBag.CurrentCat;
}*@

<section id="menu" class="clearfix cd-secondary-nav">
    <nav class="navbar nav_t">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" asp-controller="Home" asp-action="Index"><i class="fa fa-wrench"></i> <span class="col_1">Auto</span> Ancilaries Limited</a>
            </div>

            <!-- Brand and toggle get grouped for better mobile display -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <li><a class="m_tag active_tab" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a class="m_tag" asp-controller="Product" asp-action="IndexProduct">Product</a></li>

                    @*<li><a class="m_tag" asp-controller="Product" asp-action="Category">Category</a></li>*@
                    <li class="dropdown">
                        <a class="m_tag" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Category<span class="caret"></span></a>
                        <ul class="dropdown-menu drop_3" role="menu">
                            
                            @if(Model != null)
                            {
                                @foreach (var item in Model)
                                {
                                    <li><h5><a asp-action="Category" asp-route-Id="@item.Id" asp-controller="Product">@Html.DisplayFor(m=>item.Name)</a></h5></li>
                                }
                            }
                        </ul>
                    </li>
                    
                    <li><a class="m_tag" asp-controller="About" asp-action="IndexAbout">About Us</a></li>

                    <li><a class="m_tag" asp-controller="Contact" asp-action="IndexContact">Contact</a></li>




                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

</section>

<section id="header">
    <div class="container">
        <div class="row">
            <div class="header_1 clearfix">
                <div class="col-sm-3">
                    <div class="header_1l clearfix">
                        <h3 class="mgt"><a asp-controller="Home" asp-action="Index"><span class="col_1">Auto</span> Ancilaries Limited</a></h3>

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="header_1m clearfix">
                        <form asp-action="FindProduct" asp-controller="Search" method="get">
                            <div class="input-group">

                                <input id="keyword" name="keyword" type="text" class="form-control" placeholder="Search">

                                <span class="input-group-btn">
                                    <input class="btn btn-primary" type="submit" value="SEARCH" />
                                    @*<button class="btn btn-primary" type="button">
                                    <i class="fa fa-search"></i>
                                    </button>*@
                                </span>
                                @*<div id="records_table" class="results-box">
                                </div>*@
                            </div>
                        </form>
                    </div>
                </div>
                <div class="header_1r clearfix">
                    <ul class="nav navbar-nav mgt navbar-right">
                        <li><a asp-controller="Wishlist" asp-action="Index" class="tag_m1"><i class="fa fa-heart-o"></i></a></li>
                        <li><a class="tag_m1" asp-controller="Login" asp-action="Index"><i class="fa fa-user"></i></a></li>
                        <li class="dropdown">
                            <a class="tag_m1" href="#" data-toggle="dropdown" role="button" aria-expanded="false"><i class="glyphicon glyphicon-shopping-cart"></i></a>
                            <ul class="dropdown-menu drop_1" role="menu">
                                <li>
                                    <div class="drop_1i clearfix">
                                        <div class="col-sm-6">
                                            <div class="drop_1il clearfix"><h5 class="mgt">2 ITEMS</h5></div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="drop_1il text-right clearfix"><h5 class="mgt"><a href="#">VIEW CART</a></h5></div>
                                        </div>
                                    </div>
                                    <div class="drop_1i1 clearfix">
                                        <div class="col-sm-8">
                                            <div class="drop_1i1l clearfix"><h6 class="mgt bold"><a href="#">Nulla Quis</a> <br> <span class="normal col_2">1x - $89.00</span> <br> <span><i class="fa fa-remove"></i></span></h6></div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="drop_1i1r text-right clearfix"><a href="#"><img src="~/Assets/User/Home/css/1.jpg" class="iw" alt="abc"></a></div>
                                        </div>
                                    </div>
                                    <div class="drop_1i1 clearfix">
                                        <div class="col-sm-8">
                                            <div class="drop_1i1l clearfix"><h6 class="mgt bold"><a href="#">Eget Nulla</a> <br> <span class="normal col_2">1x - $49.00</span> <br> <span><i class="fa fa-remove"></i></span></h6></div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="drop_1i1r text-right clearfix"><a href="#"><img src="~/Assets/User/Home/css/2.png" class="iw" alt="abc"></a></div>
                                        </div>
                                    </div>
                                    <div class="drop_1i2 clearfix">
                                        <div class="col-sm-6">
                                            <div class="drop_1il clearfix"><h5 class="mgt">TOTAL</h5></div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="drop_1il text-right clearfix"><h5 class="mgt">$138.00</h5></div>
                                        </div>
                                    </div>
                                    <div class="drop_1i3 text-center clearfix">
                                        <div class="col-sm-12">
                                            <h5><a class="button_1 block" href="#">CHECKOUT</a></h5>
                                            <h5><a class="button block" href="#">VIEW CART</a></h5>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
